{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ room.name }}</title>
    {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/server.css' %}">
    {% endblock %}
</head>
<body>


{% block single_room %}
    <div class="container-fluid room_page">
        <div class="app">
            <div class="wrapper">
                <div class="conversation-area">
                    <div class="logo-wrapper">
                        <a href="{% url 'mainpage' %}">
                            <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                    <div class="participants_title">
                        <h4>Katılımcılar ({{ room_participants_count }})</h4>
                    </div>
                    {% for p in profile %}
                        {% for u in p %}
                            <div class="msg {% if u.online %} online {% endif %}">
                                {% if u.get_profile_photos %}
                                    <img class="msg-profile" src="{{ u.get_profile_photos }}" alt="User Image">
                                {% else %}
                                    <img class="msg-profile" src="{% static 'img/server/empty_channels.png' %}"
                                         alt="No Image">
                                {% endif %}

                                <div class="msg-detail">
                                    <div class="msg-username">{{ u.user }}</div>
                                    {% if u.online %}
                                    {% else %}
                                        <div class="msg-content">
                                            <span class="msg-date">{{ u.last_seen }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <button class="add"></button>
                    <div class="overlay"></div>
                </div>
                <div class="chat-area">
                    <div class="chat-area-header">
                        <div class="chat-area-title">
                            {% if room.get_channel_photos %}
                                <img src="{{ room.get_channel_photos }}" alt="Channel">
                            {% else %}
                                <img src="{% static 'img/server/empty_channels.png' %}"
                                     alt="Empty Channel">
                            {% endif %}
                            {{ room.name }}
                        </div>
                        <div class="chat-information dropdown">
                            <button data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Gruptan Ayrıl</a></li>
                                <li><a class="dropdown-item" href="#">Kötüye Kullanım Bildir</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="chat-area-main" id="chat-message">

                        {% for message in messages %}
                            <div class="chat-msg">
                                <div class="chat-msg-profile">
                                    <div class="chat-msg-date">{{ message.date_added }}</div>
                                </div>
                                <div class="chat-msg-content">
                                    <div class="chat-msg-text">
                                        <p>{{ message.user.username }}</p>
                                        {% if message.file_type == 'text' %}
                                            <p>{{ message.content }}</p>
                                        {% elif message.file_type == 'file' %}
                                            <a href="{{ message.content }}" download="proposed_file_name"><img
                                                    src="{% static 'img/server/file.png' %}" alt="File"></a>
                                        {% elif message.file_type == 'image' %}
                                            <div class="popup-image">
                                                <span>&times;</span>
                                                <img src="{{ message.content }}" alt="Image">
                                            </div>
                                            <img src="{{ message.content }}" class="msg-img" alt="Image">
                                        {% elif message.file_type == 'video' %}
                                            <video controls width="250" height="250">
                                                <source src="{{ message.content }}">
                                            </video>
                                        {% elif message.file_type == 'audio' %}
                                            <audio controls style="width: 250px;">
                                                <source src="{{ message.content }}">
                                            </audio>
                                        {% else %}
                                            <p>{{ message.content }}</p>
                                        {% endif %}
                                        <div class="dropdown">
                                            <button class="message-reply" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Yanıtla</a></li>
                                                <li><a class="dropdown-item" href="#">Kötüye Kullanım Bildir</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                    </div>
                    <div class="chat-area-footer">
                        <label for="hiddenImageInput">

                            <i class="bi bi-image"></i>
                        </label>
                        <input type="file" name="image" hidden accept=".jpg, .jpeg, .png" id="hiddenImageInput">
                        <div class="dropdown attach-shared-wrapper">
                            <button class="attach-shared-button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-paperclip" id="file" aria-hidden="true"
                                ></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <label for="hiddenFileInput">
                                        <i class="bi bi-file-earmark-text"></i>
                                    </label>
                                    <input type="file" id="hiddenFileInput" accept=".pdf, .doc, .json">
                                    <span class="tooltiptext tooltip-bottom">Dosya Ekle</span>
                                </li>
                                <li>
                                    <label for="hiddenVideoInput">
                                        <i class="bi bi-camera-video"></i>
                                    </label>
                                    <input type="file" id="hiddenVideoInput" accept="video/mp4,video/x-m4v,video/*">
                                    <span class="tooltiptext tooltip-bottom">Video Ekle</span>
                                </li>
                                <li>
                                    <label for="hiddenAudioInput">
                                        <i class="bi bi-headphones"></i>
                                    </label>
                                    <input type="file" id="hiddenAudioInput" accept="audio/*">
                                    <span class="tooltiptext tooltip-bottom">Ses Ekle</span>
                                </li>
                            </ul>
                        </div>


                        <div class="message-wrapper">
                            <input type="text" placeholder="{{ room.name }} için mesaj gönder" id="chat-message-input"/>
                            <button type="submit" id="chat-submit"><i class="bi bi-send-fill"></i></button>
                            <button type="button" id="chat-microfon"><i class="bi bi-mic-fill"></i></button>
                        </div>

                    </div>
                </div>
                <div class="detail-area">
                    <div class="detail-changes">
                        <input type="text" placeholder="Konuşmalarda ara...">
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/chat.js' %}"></script>

{% endblock %}

</body>
</html>


