::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.container-fluid.discover-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: calc(100vh - 62px);
    margin: 0 auto;
    overflow: hidden;
    background: #ADCAE8;
}

.row {
    flex-grow: 1;
    display: flex;
    padding: 20px 30px;
    overflow: hidden;
}

@media screen and (max-width: 990px) {
    .row {
        flex-grow: inherit !important;
    }
}

.category-wrapper {
    background: #212529;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.category-wrapper_header__title {
    margin-top: 20px;
    padding: 10px 30px;
}

.category-wrapper_header__title h4 {
    color: #ffffff;
}

.sub_categories {
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 6px;
}

.sub_categories a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #ffffff;
    transition: 0.3s;
    font-size: 16px;
    transition: 0.3s;
    padding: 10px 30px;
}

.sub_categories a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.sub_categories a:hover {
    background: rgba(238, 242, 244, 0.4);
}

.sub_categories a.active {
    background: #52D382;
    color: black;
    font-weight: bold;
}

.channel-wrapper {
    background: black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 1;
    height: 100%;
}

.joined-wrapper {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px 20px;
    background: slategray;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    height: 100%;
}

.joined-wrapper .joined-channels {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.joined-wrapper img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.channel-wrapper_header {
    width: 100%;
    border-bottom: 2px solid #f4f4f4;
}

.channel-wrapper_header .discover-search {
    margin-bottom: 10px;
    width: 35%;
    position: relative;
}

.channel-wrapper_header .discover-search input {
    width: 100%;
    background: #1d1d1d;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 15px;
    padding: 5px 20px;
    color: #ffffff;
}

.channel-wrapper_header .discover-search input::placeholder {
    color: #52D382;
}

.channel-wrapper_header .discover-search label {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.channels {
    margin-top: 20px;
}

.channels_header h5 {
    color: #ffffff;
}

.card {
    background: #212529;
}

.card-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card-img-overlay {
    text-align: center;
}

.card-img-overlay img {
    width: 75px;
    height: 75px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-text {
    font-size: 0.8rem;
    color: darkgray;
}

.card-title {
    color: #ffffff;
}

.card-body span {
    font-weight: bold;
}

.card-header {
    position: relative;
    padding: 0 !important;
    border: none !important;
}

.joinBtn {
    background: darkturquoise;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.plus-wrapper{
    width: 75px;
    height: 75px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-wrapper a i{
    font-size: 42px;
    color: white;
}

#createChannel .card{
    background: white;
}