/*

-----Content-----

1) General
    1.1) Navbar
2) Main Page
    2.1) Search Box
    2.2) Box
    2.3) Shapes
3) Login Page
4) Server Page


*/

/* 1) General */
body {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.shadow-blur {
    box-shadow: inset 0 0px 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}

.border-radius-xl {
    border-radius: 1rem;
}

.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.vertical.dark {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}


.mt-n10 {
    margin-top: -8rem !important;
}

.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.alert {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 9;
    width: 25%;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: none;
}

/* 1.1) Navbar */

.logout-btn {
    background: transparent;
    border: none !important;
}

.logout-btn:hover {
    border: none !important;
}

/* Navbar End */

/* General End */

/* 2) Main Page */
/* 2.1) Search */


.search-box {
    width: 100%;
    height: 500px;
    background: rgba(33, 37, 41, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.search-box form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box h1 {
    z-index: 2;
    text-align: center;
}

.search {
    margin-bottom: auto;
    height: 70px;
    background-color: #ADCAE8;
    padding: 10px;
    width: 60%;
    z-index: 2;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search .search-input {
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: white;
    transition: width 0.4s linear;
}

.search:hover > .search-icon {
    background: black;
    color: #fff;
    transition: 0.3s;
}

.search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #52D382;

}

/* 2.2) Box */

.box {
    padding: 15px;
    height: 300px;
}

.box:first-child {
    border-right: 2px solid #f4f4f4;
}

.box:last-child {
    border-left: 2px solid #f4f4f4;
}

.box ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.box ul li {
    border-bottom: 2px solid #f0f0f0;
    width: 100%;
    text-align: start;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 0.3s;
}

.box ul li a {
    color: black;
}

.box ul li:hover {
    background-color: #52D382;
}

.box-title {
    text-align: center;
}

/* 2.3) Shapes */

.shapes span {
    color: #f0f0f0;
    font-size: 1.3rem;
}

.shapes {
    width: 100%;
    top: 0;
    height: 400px;
    position: absolute;
    left: 0;
}

.shapes span:first-child {
    position: absolute;
    top: 50%;
    left: -5%;
    animation: leftRight 15s linear infinite;
}

.shapes span:nth-child(2) {
    position: absolute;
    bottom: -10%;
    left: 10%;
    animation: bottomTop 7s linear infinite;
}

.shapes span:nth-child(3) {
    position: absolute;
    top: 20%;
    right: 0;
    animation: rightLeft 15s linear infinite;
}

.shapes span:nth-child(4) {
    position: absolute;
    top: -5%;
    left: 20%;
    animation: topBottom 7s linear infinite;

}

.shapes span:nth-child(5) {
    position: absolute;
    top: 80%;
    right: 0;
    animation: rightLeft 15s linear infinite;
}

.shapes span:nth-child(6) {
    position: absolute;
    bottom: 0;
    left: 40%;
    animation: bottomTop 7s linear infinite;
}

.shapes span:nth-child(7) {
    position: absolute;
    top: -15%;
    left: 60%;
    animation: topBottom 7s linear infinite;
}

.shapes span:nth-child(8) {
    position: absolute;
    bottom: -25%;
    left: 80%;
    animation: bottomTop 7s linear infinite;
}

@keyframes bottomTop {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50vh);
        opacity: 0;
    }
}

@keyframes topBottom {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(50vh);
        opacity: 0;
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes rightLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

/* Main Page End */

/* 3) Login Page */

.body__auth {
    background: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.userForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.userForm .userAuth {
    max-width: 600px;
    width: 600px;
    margin-top: 50px;
    border: 2px solid #f4f4f4;
    border-radius: 25px;
}

@media screen and (max-width: 369px) {
    .userForm .userAuth {
        width: 300px !important;
    }
}

@media screen and (min-width: 370px) and (max-width: 475px) {
    .userForm .userAuth {
        width: 350px !important;
    }
}

@media screen and (min-width: 476px) and (max-width: 620px) {
    .userForm .userAuth {
        width: 475px !important;
    }
}

.userForm .userNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #212529;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.userForm .userNav .userNav_list {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userForm .userNav .userNav_list a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.userForm .userNav .userNav_list a:hover {
    color: #ADCAE8;
}

.userForm .userNav .userNav_list.active {
    background-color: #52D382;
}

.userForm .userNav .userNav_list:nth-child(2).active {
    border-top-right-radius: 25px;
}

.userForm .userNav .userNav_list:nth-child(1).active {
    border-top-left-radius: 25px;
}

.userForm .userNav .userNav_list.active a:hover {
    color: #212529;
}

.userBody {
    background-color: #373A3E;
    padding: 30px 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.userBody .form-group {
    margin-bottom: 20px;
}

.userBody label {
    color: #52D382;
    margin-bottom: 10px;
}

.userBody .helptext {
    color: #f4f4f4;
}

.userBody ul li {
    list-style-type: circle;
    color: #f4f4f4;
}

.userBody input {
    height: 50px;
    background-color: black;
    color: white;
}

.userBody .form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    background: black;
    color: white;
    border: 1px solid #f4f4f4;
}


.activation-message {
    position: absolute;
    right: 40px;
    bottom: 20px;
}


/* Login Page End */


/* Server Page Start */
.server-body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    background: black;
}

.channels_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 2px solid;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    width: auto;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-bottom {
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.channels_top_circle .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.channels_top_circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.channels_top .channels_top_circle {
    width: 100px;
    height: 100px;
    background: #373A3E;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: 0.3s;
    position: relative;
}

.channels_top .channels_top_circle:hover {
    background: #52D382;;
}

.channels_top .channels_top_circle i {
    font-size: 48px;
}

.channels_top .channels_top_circle:first-child {
    font-size: 72px;
}

.server-body .container-fluid .channel {
    width: 100%;
    background: #373A3E;
    border-radius: 20px;
    margin-top: 20px;
    height: 250px;
}

.server-body .container-fluid .channel .channel_image {
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.server-body .container-fluid .channel .channel_image .channel_image_banner {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.server-body .container-fluid .channel .channel_image .channel_image_banner img {
    width: 100%;
    height: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
}

.server-body .container-fluid .channel .channel_image .channel_image_cover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
}

.server-body .container-fluid .channel .channel_image .channel_image_cover img {
    width: 120px;
    height: 120px;
}

.channel_name {
    text-align: center;
    margin-top: 10px;
    color: #f4f4f4;
}

.channel_button {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.channel_button a {
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
}

.channel_button a:nth-child(1) {
    background: #536bf6;
}

.channel_button a:nth-child(2) {
    background: crimson;

}

.empty-banner {
    background-image: url("../img/server/empty_banner.png");
}

#createChannelForm {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.upload_profile_picture {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.upload_banner {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.file {
    display: none;
}

#uploadPictureBtn {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0 0 0 / 64%);
    top: 70%;
    transform: translateX(-90%);
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Server Page End */