/*

-----Content-----

1) General
    1.1) Navbar
2) Main Page
    2.1) Search Box
    2.2) Box
    2.3) Shapes
3) Login Page
4) Server Page
    4.1) Single Room


*/

/* 1) General */
body {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.shadow-blur {
    box-shadow: inset 0 0px 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}

.border-radius-xl {
    border-radius: 1rem;
}

.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.vertical.dark {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}


.mt-n10 {
    margin-top: -8rem !important;
}

.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.alert {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 9;
    width: 25%;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: none;
}

/* 1.1) Navbar */

.navbar-nav li{
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

.navbar-nav li:hover{
    background: #c1c7cd ;
    border-radius: 20px;
}

.navbar-nav li:hover a{
    color: #1d1d1d;
}

.logout-btn {
    background: transparent;
    border: none !important;
}

.logout-btn:hover {
    border: none !important;
}

.navbar-nav {
    align-items: center !important;
}

.notification {
    position: relative;
}

.icon_wrap {
    cursor: pointer;
}

.icon_wrap i{
    font-size: 20px;
}

.notification_dd {
    position: absolute;
    top: 48px;
    right: -18px;
    background: #fff;
    width: 350px;
    height: auto;
    border: 1px solid #c7d8e2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125),
    -10px -10px 30px rgba(0, 0, 0, 0.125);
    display: none;
}

.notification_dd.active{
    display: block;
}

.notification_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #ffffff transparent;
}

.notification_dd ul{
    width: 100%;
    padding-left: 0!important;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_data{
    margin: 0 15px;
    width: 100%;
}

.notification_dd li .notify_data .title{
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.notification_dd li .notify_data .sub_title{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c1c7cd;
    margin-top: 5px;
}

.notification_dd li:last-child{
    border-bottom: 0;
}

.notification_dd li.show_all{
    display: flex;
    justify-content: center;
    color: #3b80f9;
    cursor: pointer;
}

.notification_dd li.show_all p{
    font-weight: 700;
    color: #3b80f9;
    cursor: pointer;
}

.notification_dd li.show_all p:hover{
    text-decoration: underline;
}

.profile{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.profile:hover{
    background: #c1c7cd ;
    border-radius: 20px;
}

.profile .profile_picture img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile .profile_user{
    margin-left: 10px;
}

.profile .profile_user p{
    margin-top: 10px;
}

.profile:hover .profile_user p{
    color: #1d1d1d;
}

/* Navbar End */

/* General End */

/* 2) Main Page */
/* 2.1) Search */


.search-box {
    width: 100%;
    height: 500px;
    background: rgba(33, 37, 41, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.search-box form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box h1 {
    z-index: 2;
    text-align: center;
}

.search {
    margin-bottom: auto;
    height: 70px;
    background-color: #ADCAE8;
    padding: 10px;
    width: 60%;
    z-index: 2;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search .search-input {
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: white;
    transition: width 0.4s linear;
}

.search:hover > .search-icon {
    background: black;
    color: #fff;
    transition: 0.3s;
}

.search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #52D382;

}

/* 2.2) Box */

.box {
    padding: 15px;
    height: 300px;
}

.box:first-child {
    border-right: 2px solid #f4f4f4;
}

.box:last-child {
    border-left: 2px solid #f4f4f4;
}

.box ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.box ul li {
    border-bottom: 2px solid #f0f0f0;
    width: 100%;
    text-align: start;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 0.3s;
}

.box ul li a {
    color: black;
}

.box ul li:hover {
    background-color: #52D382;
}

.box-title {
    text-align: center;
}

/* 2.3) Shapes */

.shapes span {
    color: #f0f0f0;
    font-size: 1.3rem;
}

.shapes {
    width: 100%;
    top: 0;
    height: 400px;
    position: absolute;
    left: 0;
}

.shapes span:first-child {
    position: absolute;
    top: 50%;
    left: -5%;
    animation: leftRight 15s linear infinite;
}

.shapes span:nth-child(2) {
    position: absolute;
    bottom: -10%;
    left: 10%;
    animation: bottomTop 7s linear infinite;
}

.shapes span:nth-child(3) {
    position: absolute;
    top: 20%;
    right: 0;
    animation: rightLeft 15s linear infinite;
}

.shapes span:nth-child(4) {
    position: absolute;
    top: -5%;
    left: 20%;
    animation: topBottom 7s linear infinite;

}

.shapes span:nth-child(5) {
    position: absolute;
    top: 80%;
    right: 0;
    animation: rightLeft 15s linear infinite;
}

.shapes span:nth-child(6) {
    position: absolute;
    bottom: 0;
    left: 40%;
    animation: bottomTop 7s linear infinite;
}

.shapes span:nth-child(7) {
    position: absolute;
    top: -15%;
    left: 60%;
    animation: topBottom 7s linear infinite;
}

.shapes span:nth-child(8) {
    position: absolute;
    bottom: -25%;
    left: 80%;
    animation: bottomTop 7s linear infinite;
}

@keyframes bottomTop {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50vh);
        opacity: 0;
    }
}

@keyframes topBottom {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(50vh);
        opacity: 0;
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes rightLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

/* Main Page End */

/* 3) Login Page */

.body__auth {
    background: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.userForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.userForm .userAuth {
    max-width: 600px;
    width: 600px;
    margin-top: 50px;
    border: 2px solid #f4f4f4;
    border-radius: 25px;
}

@media screen and (max-width: 369px) {
    .userForm .userAuth {
        width: 300px !important;
    }
}

@media screen and (min-width: 370px) and (max-width: 475px) {
    .userForm .userAuth {
        width: 350px !important;
    }
}

@media screen and (min-width: 476px) and (max-width: 620px) {
    .userForm .userAuth {
        width: 475px !important;
    }
}

.userForm .userNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #212529;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.userForm .userNav .userNav_list {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userForm .userNav .userNav_list a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.userForm .userNav .userNav_list a:hover {
    color: #ADCAE8;
}

.userForm .userNav .userNav_list.active {
    background-color: #52D382;
}

.userForm .userNav .userNav_list:nth-child(2).active {
    border-top-right-radius: 25px;
}

.userForm .userNav .userNav_list:nth-child(1).active {
    border-top-left-radius: 25px;
}

.userForm .userNav .userNav_list.active a:hover {
    color: #212529;
}

.userBody {
    background-color: #373A3E;
    padding: 30px 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.userBody .form-group {
    margin-bottom: 20px;
}

.userBody label {
    color: #52D382;
    margin-bottom: 10px;
}

.userBody .helptext {
    color: #f4f4f4;
}

.userBody ul li {
    list-style-type: circle;
    color: #f4f4f4;
}

.userBody input {
    height: 50px;
    background-color: black;
    color: white;
}

.userBody .form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    background: black;
    color: white;
    border: 1px solid #f4f4f4;
}


.activation-message {
    position: absolute;
    right: 40px;
    bottom: 20px;
}


/* Login Page End */


/* Server Page Start */
.server-body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    background: black;
}

.server-body .container-fluid {
    margin: 0;
    padding: 0;
}

.room-header {
    color: #ffffff;
    font-weight: bold;
}

.channels_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 2px solid;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    width: auto;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-bottom {
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.channels_top_circle .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.channels_top_circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.channels_top .channels_top_circle {
    width: 100px;
    height: 100px;
    background: #373A3E;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: 0.3s;
    position: relative;
}

.channels_top .channels_top_circle:hover {
    background: #52D382;;
}

.channels_top .channels_top_circle i {
    font-size: 48px;
}

.channels_top .channels_top_circle:first-child {
    font-size: 72px;
}

.server-body .container-fluid .channel {
    width: 100%;
    background: #373A3E;
    border-radius: 20px;
    margin-top: 20px;
    height: 275px;
}

.server-body .container-fluid .channel .channel_image {
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.server-body .container-fluid .channel .channel_image .channel_image_banner {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.server-body .container-fluid .channel .channel_image .channel_image_banner img {
    width: 100%;
    height: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
}

.server-body .container-fluid .channel .channel_image .channel_image_cover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.server-body .container-fluid .channel .channel_image .channel_image_cover img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.channel_name {
    text-align: center;
    margin-top: 10px;
    color: #f4f4f4;
}

.channel_button {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.channel_button a {
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
}

.channel_button a:nth-child(1) {
    background: #536bf6;
}

.channel_button a:nth-child(2) {
    background: crimson;

}

.empty-banner {
    background-image: url("../img/server/empty_banner.png");
}

#createChannelForm {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.upload_profile_picture {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.upload_profile_picture img {
    transition: 0.3s;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.upload_banner {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.file {
    display: none;
}

#uploadPictureBtn {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0 0 0 / 64%);
    top: 70%;
    transform: translateX(-90%);
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#uploadPictureBtn:hover {
    background: #212529;
}

#uploadBannerBtn {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0 0 0 / 64%);
    top: 85%;
    transform: translateX(-70%);
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#uploadBannerBtn:hover {
    background: #212529;
}

.upload_banner img {
    transition: 0.3s;
    height: 100px;
    object-fit: fill;
}

.crete_channel_name p {
    text-align: center;
}

.crete_channel_name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#channelsName {
    text-align: center;
    border-style: dashed;
    width: 75%;
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#createChannelForm {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#createChannelForm fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#createChannelForm fieldset:not(:first-of-type) {
    display: none
}


#createChannelForm .action-button {
    width: 100px;
    background: black;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#createChannelForm .action-button:hover,
#createChannelForm .action-button:focus {
    background-color: #52D382
}

#createChannelForm .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#createChannelForm .action-button-previous:hover,
#createChannelForm .action-button-previous:focus {
    background-color: #52D382
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: black;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

input[type="radio"] {
    display: none;
}

.category {
    display: flex;
    justify-content: center;
}

.category label, .is_public label {
    width: 70%;
    height: 120px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: 0.3s;
}

.category-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.category_name {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.category_name p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.category label:hover {
    background: #52D382;
    color: white;
}

input[type="radio"]:checked + label {
    background: #52D382;
    color: white;
}

.is_public label {
    width: 100% !important;
}

.is_private_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.is_private_image img {
    width: 75px;
    height: 75px;
}

.is_private_name {
    width: 65%;
}

fieldset p {
    text-align: center;
}

/* 4.1) Single Room Start */
.server-body .participants {
    height: 100vh;
    background: #212529;
    border-top: 2px solid black;
}

.single-room {
    overflow: hidden;
    height: 100vh;
}

.channel_title {
    padding: 10px 30px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.channel_title img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
}

.channel_title h3 {
    color: #ffffff;
    font-size: 1.3rem;
}


.participants_body ul li a {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
}

.participants_user_image {
    margin-right: 20px;
}

.participants_user_image img {
    width: 30px;
    height: 30px;
}

.participants_user_name {
    margin-right: 20px;
}

.participants_user_name span {
    color: #ffffff;
}


.banner img {
    width: 100%;
    height: 200px;
}

.chat .writing-section {
    position: relative;
    bottom: 10%;
    width: 100%;
    height: 30%;
}

.chat .writing-section form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#chat-message {
    height: 500px;
    overflow-y: auto;
}

.chat form {
    margin-top: 15px;
}

.chat form input {
    width: 80%;
    height: 30%;
}

.chat form button {
    width: 19%;
}

#chat-message-input {
    border-radius: 20px;
    outline: none;
    border: none;
    background: #212529;
    padding: 15px;
    color: #ffffff;
    width: 80%;
    height: 75px;
}

textarea[name=content] {
    resize: none;
}

#chat-message-input::placeholder {
    color: #ffffff;
}

#chat-submit {
    background: #212529;
    padding: 15px;
    color: #ffffff;
    outline: none;
    border: none;
    height: 75px;
    border-radius: 20px;
}

.message-cover {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
}

.message-cover:hover .message-reply {
    opacity: 1;
}

.message-cover .message-user p {
    color: #52D382;
}

.message-cover .message-content p {
    color: #ffffff;
}

.message-cover .message-time-line {
    text-align: center;
    position: relative;
}

.message-cover .message-time-line span {
    color: gray;
}

.message-cover .message-time-line:before {
    content: "";
    display: block;
    width: 35%;
    height: 1.5px;
    background: gray;
    position: absolute;
    left: 0;
    top: 50%;
}

.message-cover .message-time-line:after {
    content: "";
    display: block;
    width: 35%;
    height: 1.5px;
    background: gray;
    position: absolute;
    right: 0;
    top: 50%;
}

.message-reply {
    position: absolute;
    right: 20px;
    opacity: 0;
    transition: 0.3s;
}


/* Single Room End */

/* Server Page End */