{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ads_page.css' %}">
{% endblock %}

{% block create_ads %}

    {% include 'message.html' %}
    <div class="container mt-5 mb-5 d-flex justify-content-center flex-column">

        <!-- Note Start -->
        {% for n in notes %}
            <div class="w-75 annotation bg-dark text-white">
                <p>{{ n.content }}</p>
            </div>
        {% endfor %}

        <!-- Note End -->

        <form action="{% url 'advertisement' %}" class="row g-1 w-75 was-validated" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="firstName" class="form-label">İsim *</label>
                <input type="text" name="first_name" class="form-control is-valid" id="firstName" required>
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Soyisim *</label>
                <input type="text" name="last_name" class="form-control is-valid" id="lastName" required>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email *</label>
                <input type="email" name="email" class="form-control is-valid" id="email" required>
            </div>
            <div class="col-12">
                <label for="phone" class="form-label">Telefon *</label>
                <input type="text" name="phone" class="form-control is-valid" id="phone" required>
            </div>
            <div class="col-md-12">
                <label for="companyName" class="form-label">Şirket Adı</label>
                <input type="text" name="company_name" class="form-control" id="companyName">
            </div>
            <div class="col-8">
                <label for="adsType" class="form-label">İlan Tipi *</label>
                <select class="form-select" name="ads_type" required aria-label="ads_type" id="adsType">
                    <option selected disabled value="0">Seçimiz yapınız...</option>
                    {% for t in advertisement_types %}
                        <option value="{{ t.slug }}">{{ t.name }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Lütfen seçim yapınız!</div>
            </div>
            <div id="adsSelect">
                <div class="col-6 mt-4">
                    <label for="selectCategory" class="form-label">Reklam Kategorisi *</label>
                    <select class="form-select" name="ads_category" aria-label="select_category" id="selectCategory">
                        <option selected disabled value="">Seçimiz yapınız...</option>
                        {% for c in categories %}
                            <option value="{{ c.slug }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Lütfen seçim yapınız!</div>
                </div>
                <div class="col-6 mt-5">
                    <p>Reklamlarla ilgili daha detaylı bilgi için <a href="">tıklayınız</a>.</p>
                </div>
            </div>
            <div id="adsNews">
                <div class="col-12 mt-4">
                    <label for="title" class="form-label">Haber Başlığı *</label>
                    <input type="text" name="title" class="form-control is-valid" id="title">
                </div>
            </div>
            <div class="col-12 mt-4">
                <label for="messageArea" id="messageAreaLabel" class="form-label">Mesaj *</label>
                <textarea name="message" class="form-control" id="messageArea"
                          required></textarea>
                <div class="invalid-feedback">
                    Lütfen mesaj içeriğini giriniz.
                </div>
            </div>

            <div class="mt-4">
                <label for="imageFile" class="form-label">Bir fotoğraf seçiniz...</label>
                <input class="form-control" name="image" type="file" id="imageFile" accept="image/*">
            </div>

            <div class="form-check mt-3" id="isPrivateCheck">
                <input type="checkbox" name="is_private" class="form-check-input" id="isPrivateCheckInput">
                <label class="form-check-label" for="isPrivateCheckInput">Bilgilerimin gizli kalmasını istiyorum.
                    (Bilgileriniz asla kimseyle paylaşılmaz. Gizli kimlik ile yayınlanacaktır.)</label>
            </div>

            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript'
            src="{% static 'js/inputmask.bundle.js' %}"></script>
    <script src="{% static 'js/ads_page.js' %}"></script>
{% endblock %}