<nav class="navbar navbar-expand-lg bg-light" style="height: 100px!important;">
    <div class="container">
        <div id="firstCategoryCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for ads in firstcategoryads %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" data-bs-interval="10000">
                        <a href="{{ ads.link }}" target="_blank"><img src="{{ ads.get_photos }}" class="d-block w-100" alt="ads"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
