{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum Eksper Reklam Yönetimi</title>
    <link rel="stylesheet" href="{% static 'css/ads_info.css' %}">
</head>
<body>
<div class="container">
    <div class="site-wrapper">

        <div class="first-category category">
            <p>1. Reklam Kategorisi</p>
            <span class="info">i</span>
        </div>

    </div>
</div>
</body>
</html>