{% load static %}
<div class="container ads-boxes mt-5">
    <div class="row">
        <div class="col-lg-4">
            <div id="secondCategoryCarouselOne" class="carousel slide second_category" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for ads in ads1 %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}"
                             data-bs-interval="10000">
                            <a href="{{ ads.link }}" target="_blank"><img src="{{ ads.get_photos }}"
                                                                          class="d-block w-100" alt="ads"></a>
                        </div>
                    {% empty %}
                        <div class="carousel-item active "
                             data-bs-interval="10000">
                            <a href="{% url 'advertisement' %}" target="_blank"><img
                                    src="{% static 'img/reklam_alani.png' %}"
                                    class="d-block w-100" alt="ads"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="secondCategoryCarouselOne" class="carousel slide second_category" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for ads in ads1 %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}"
                             data-bs-interval="10000">
                            <a href="{{ ads.link }}" target="_blank"><img src="{{ ads.get_photos }}"
                                                                          class="d-block w-100" alt="ads"></a>
                        </div>
                    {% empty %}
                        <div class="carousel-item active "
                             data-bs-interval="10000">
                            <a href="{% url 'advertisement' %}" target="_blank"><img
                                    src="{% static 'img/reklam_alani.png' %}"
                                    class="d-block w-100" alt="ads"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="secondCategoryCarouselOne" class="carousel slide second_category" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for ads in ads1 %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}"
                             data-bs-interval="10000">
                            <a href="{{ ads.link }}" target="_blank"><img src="{{ ads.get_photos }}"
                                                                          class="d-block w-100" alt="ads"></a>
                        </div>
                    {% empty %}
                        <div class="carousel-item active "
                             data-bs-interval="10000">
                            <a href="{% url 'advertisement' %}" target="_blank"><img
                                    src="{% static 'img/reklam_alani.png' %}"
                                    class="d-block w-100" alt="ads"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>